<!DOCTYPE HTML>
<html>

<head>
	<title>Portfolio Mikowhy</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="./static/assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="./static/assets/css/noscript.css" />
	</noscript>
</head>

<body class="is-preload">

	<!-- Sidebar -->
	<section id="sidebar">
		<div class="inner">
			<nav>
				<ul>
					<li><a href="#intro">Welcome</a></li>
					<li><a href="#one">About me</a></li>
					<li><a href="#two">Projects</a></li>
					<li><a href="#three">Get in touch</a></li>
				</ul>
			</nav>
		</div>
	</section>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Intro -->
		<section id="intro" class="wrapper style1 fullscreen fade-up">
			<div class="inner">
				<h1>Mikołaj Sobczak</h1>
				<h3>Self-taught Python Developer, willing to deliver as high-quality solutions as possible to your
					company.</h3>
				<p></p>
				<p>
					Welcome to my website, here you can learn some useful information about me.
				</p>
				<ul class="actions">
					<li><a href="#one" class="button scrolly">Learn more</a></li>
				</ul>
			</div>
		</section>

		<!-- One -->
		<section id="one" class="wrapper style3 fade-up">
			<div class="inner">
				<h2>About me</h2>
				<p>Hello, my name is Mikołaj</p>
				<p>I am a self-taught python developer with a background in the restaurant industry and real estate.
					So far I've been coding almost every day for many months already and it's reflected on my <a
						href="https://github.com/mikowhyHUB">GitHub</a> profile.</p>


				<div class="features">
					<section>
						<span class="icon solid major fa-code"></span>
						<h3>Technologies</h3>
						<p> # Python # GitHub # REST API # C <br># SQL # VS Code # Linux # Macos <br># Windows #
							Photoshop
						</p>

				</div>
		</section>

		<!-- Two -->
		<section id="two" class="wrapper style2 spotlights">
			<section>
				<a href="https://github.com/mikowhyHUB/hs3-traminformation" class="image"><img
						src="./static/images/hs3.png" alt="" data-position="center center" /></a>
				<div class="content">
					<div class="inner">
						<h2>Tram tracker for Hackerspace Trójmiasto</h2>
						<p>Real-time tracking of nearest trams next to headquarters of Hackerspace Trójmiasto located in
							Gdańsk, Poland. The project was written to be finally displayed on matrix monitors. The
							script takes data from the two closest stops going in two different directions of the city.
						</p>
						<ul class="actions">
							<li><a href="https://github.com/mikowhyHUB/hs3-traminformation" class="button">Learn
									more</a></li>
						</ul>
					</div>
				</div>
			</section>
			<section>
				<a href="https://github.com/mikowhyHUB/movie-ratings" class="image"><img
						src="./static/images/movieratings.png" alt="" data-position="top center" /></a>
				<div class="content">
					<div class="inner">
						<h2>Movies and shows rating program</h2>
						<p>A simple project to add movies you watched and rate them. So if you want to watch it again in
							a couple of years, you will know is it a waste of time.</p>
						<ul class="actions">
							<li><a href="https://github.com/mikowhyHUB/movie-ratings" class="button">Learn more</a></li>
						</ul>
					</div>
				</div>
			</section>
			<section>
				<a href="https://github.com/mikowhyHUB/number-guessing-game" class="image"><img
						src="./static/images/numbergame.png" alt="" data-position="25% 25%" /></a>
				<div class="content">
					<div class="inner">
						<h2>Number Guessing Game</h2>
						<p>A simple game to guess what number computer picked. You choose the difficulty level yourself.
						</p>
						<ul class="actions">
							<li><a href="https://github.com/mikowhyHUB/number-guessing-game" class="button">Learn
									more</a></li>
						</ul>
					</div>
				</div>
			</section>
		</section>

		<!-- Three -->
		<section id="three" class="wrapper style1 fade-up">
			<div class="inner">
				<h2>Get in touch</h2>
				<p>Here are ways to connect with me</p>
				<div class="split style1">
					<section>
						<form method="post" action="submit_form">
							<div class="fields">
								<div class="field half">
									<label for="name">Name</label>
									<input type="text" name="name" id="name" />
								</div>
								<div class="field half">
									<label for="email">Email</label>
									<input type="text" name="email" id="email" />
								</div>
								<div class="field">
									<label for="message">Message</label>
									<textarea name="message" id="message" rows="5"></textarea>
								</div>
							</div>
							<ul class="actions">
								<li><a href="" class="button submit">Send Message</a></li>
							</ul>
						</form>
					</section>
					<section>
						<ul class="contact">

							<li>
								<h3>Email</h3>
								<span>mikolaj.kalisz@gmail.com</span>
							</li>
							<li>
								<h3>Phone</h3>
								<span>(+48)509-323-133</span>
							</li>
							<li>
								<h3>Social</h3>
								<ul class="icons">
									<li><a href="https://twitter.com/_mikowhy" class="icon brands fa-twitter"><span
												class="label">Twitter</span></a></li>

									<li><a href="https://github.com/mikowhyHUB" class="icon brands fa-github"><span
												class="label">GitHub</span></a>
									</li>
									<li><a href="https://www.instagram.com/_mikowhy/"
											class="icon brands fa-instagram"><span class="label">Instagram</span></a>
									</li>
									<li><a href="https://www.linkedin.com/in/mikobczak/"
											class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a>
									</li>
								</ul>
							</li>
						</ul>
					</section>
				</div>
			</div>
		</section>

	</div>


	<!-- Scripts -->
	<script src="./static/assets/js/jquery.min.js"></script>
	<script src="./static/assets/js/jquery.scrollex.min.js"></script>
	<script src="./static/assets/js/jquery.scrolly.min.js"></script>
	<script src="./static/assets/js/browser.min.js"></script>
	<script src="./static/assets/js/breakpoints.min.js"></script>
	<script src="./static/assets/js/util.js"></script>
	<script src="./static/assets/js/main.js"></script>

</body>

</html>